.header
  .header__nav
    %h1 Filppy
    .header__nav__left
      %ul
        %li
          %a{:href => "#"} Home
        %li
        = link_to films_path do
          Movies

        -# %li
        -#   =link_to "Post", "/films/#{}/reviews/new"
        %li
          %a{:href => "#"}Log in
        %li
          %a{:href => "#"}
    .header__nav__right
      %ul
        %li
          %a{:href => "#"} name
        %li
          %a{:href => "#"} 編集
    .header__nav__right
      = link_to destroy_user_session_path, method: "delete" do
        ログアウト



.mainvisual
  = form_with(url: films_searches_path, local: true, method: :get, class: "search-form") do |form|
    = form.text_field :keyword, placeholder: "映画を検索する", class: "search-input"
    = form.submit "検索", class: "search-btn"
  %img{:alt => "映画画像", :src => "https://cdn.pixabay.com/photo/2017/07/13/23/11/cinema-2502213_1280.jpg"}/

%section.greeting
  .content-wrapper
    .explains
      .expain
        %h2 Filpyとは
        %p
          本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
          %br/
          本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
          %br/
          本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。
          %br/
          本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。本文が入ります。


%section.work
  %h2 Feeling
  %ul
    %li
      %a{:href => "/films?feeling_id=3"}
        %figure
          %img{:src => "https://image.shutterstock.com/image-photo/eye-girl-tear-600w-766403896.jpg"}/
        %h3.feel
          感動したい
    %li
      %a{:href => "/films?feeling_id=2"}
        %figure
          %img{:src => "https://image.shutterstock.com/z/stock-vector-emoticon-laughing-and-wiping-tears-away-while-pointing-at-something-or-someone-with-his-other-hand-564985714.jpg"}/
        %h3 　　　　　　　　笑いたい
    %li
      %a{:href => "/films?feeling_id=1"}
        %figure
          %img{:src => "https://cdn.pixabay.com/photo/2016/04/24/05/52/heart-1348868_1280.png"}/
        %h3 恋したい





-# %section.recruit
-#   .recruit-img
-#     %img{:alt => "映画", :src => "https://cdn.pixabay.com/photo/2017/07/13/23/11/cinema-2502213_1280.jpg"}/
-#   %h2
-#     %a{:href => ""} 映画情報
-#   .bg2
-# %footer.footer
-# .content-wrapper
-#   .address
-#     %h2 XX株式会社
-#     %p
-#       〒000−0000
-#       %br/
-#       東京都××××××××××
-#       %br/
-#       TEL 01-2345-6789
-#       %br/
-#       FAX 01-2345-6789
-#   %ul
-#     %li
-#       %a{:href => "#"} トップページ
-#     %li
-#       %a{:href => "#"} 会社概要
-#     %li
-#       %a{:href => "#"} 事業内容
-#     %li
-#       %a{:href => "#"} 採用情報
-#     %li
-#       %a{:href => "#"} お問い合わせ
.copylight
  %p ©️ XXCo., Ltd. All Rights Reserved.
