= render 'shared/header'

.wrapper-show
  .side_left
    .films__poster
      .films__poster__title
        %img.films__poster__title{src:@film.image}
      %h.films__poster__title

    .review
      %h2 Review List(各リストをクリックすると右画面でコメントできます)
      - @reviews.each do |r|
        %ul
          %li
            %time
              = r.created_at
            %name
              = r.user.name
            %text
              = link_to "/films/#{@film.id}/reviews/#{r.id}/comments" do
                = r.text

  .side_right
    .review-comment
      .review-comment__left
        .review-comment__left__name
          ="名前:#{@review.user.name}"
        .review-comment__left__contents__kind
          ="感情:#{@review.feeling.kind}"
        .review-comment__left__contents
          .review-comment__left__contents__text
            = @review.text
          -# .review-comment__left__contents__kind
          -#   ="感情:#{@review.feeling.kind}"
      .review-comment__right
        .review-comment__right__edit
        - if user_signed_in? && current_user.id == @review.user_id
          = button_to "編集する",edit_film_review_path(@film, @review), method: :get, class: 'review-comment__right__edit__review'
        .review-comment__right__destroy
        - if user_signed_in? && current_user.id == @review.user_id
          = button_to "削除する",film_review_path(@film,@review), method: :delete, class: 'review-comment__right__destroy__review'
    .comment-wrapper
      %p.comment-summary コメント一覧
      .comment-content
        - @comments.each do |comment|
          .comment-content__list
            .comment-content__list__text
              = simple_format comment.text
            .comment-content__list__info
              %span
                = comment.user.name
              %span
                -# = comment.review.created_at.strftime(“%Y-%m-%d %H:%M”)
      - if current_user
        .comment-form
          = form_for [@film, @review, @comment] do |f|
            = f.text_area :text, class: "comment-form__text", placeholder: "コメントを入力してください"
            = f.submit Comment, class: "comment-form__btn form_submit"
