= render 'shared/header'

.films-wrapper
  .films-header
    = form_with(url: films_searches_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "映画を検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"
  .japanese
    .japanese__films
      %h1.japanese__films__write
        邦画
        .japanese__films__poster
          - @j_films.each do |film|
            %ul.japanese__films__poster__list
              %li.japanese__films__poster__list__image
                =link_to film_path(film), class: "image" do
                  = image_tag film.image
              %li.japanese__films__title
                = film.title

  .western
    .western__films
      %h1.western__films__write
        洋画
        .western__films__poster
          - @w_films.each do |film|
            %ul.western__films__poster__list
              %li.western__films__poster__list__image
                =link_to film_path(film), class: "image" do
                  = image_tag film.image
              %li.western__films__title
                = film.title
