.wrapper-show
  .side_left
    .films__show-header
      = link_to "レビューを投稿する",new_film_review_path(@film)
      .films__show-header__edit
        = link_to "編集する",edit_film_review_path(@film)
      .films__show-header__destroy
        = link_to "削除する",film_review_path(@film)
    .films__poster
      .films__poster__title
        %img.films__poster__title{:src => @film.image}
      %h.films__poster__title

    .review
      %h2 Review List
      - @reviews.each do |r|
        %ul
          %li
            %time
              = r.created_at
            %name
              = r.user.name
            %text
              = link_to "/films/#{@film.id}/reviews/#{r.id}/comments" do
                = r.text
  -# .side_right
  -#   .comment-wrapper
  -#     %p.comment-summary コメント一覧
  -#     .comment-content
  -#       - @comments.each do |comment|
  -#         .comment-content__list
  -#           .comment-content__list__text
  -#             = simple_format comment.text
  -#           .comment-content__list__info
  -#             %span= comment.user.name
  -#             %span= comment.review.created_at.strftime(“%Y-%m-%d %H:%M”)
  -#     - if current_user
  -#       = form_with(model: [@review, @comment], local: true, id: “new_comment”, class: comment-form clearfix) do |form|
  -#         = form.text_area :text, placeholder: “コメントを入力してください“, rows: “5”, class: commentform__text
  -#         = form.submit “Comment”, class: “comment-form__btn form_submit”
  -#     - else
  -#       %strong
  -#       %p ※ログインするとコメント投稿できるようになります
