= render 'shared/header'

.wrapper-show
  .side_left
    .films__show-header
      = button_to "レビューを投稿する",new_film_review_path(@film), method: :get, class: 'films__show-header__review-post'
      -# .films__show-header__edit
      -#   = link_to "編集する",edit_film_review_path(@film)
      -# .films__show-header__destroy
      -#   = link_to "削除する",film_review_path(@film)
    .films__poster
      .films__poster__title
        %img.films__poster__title{:src => @film.image}
      %h.films__poster__title

    .review
      %h2 Review List(各リストをクリックすると右画面でコメントできます)
      - @reviews.each do |r|
        %ul
          %li
            %time
              = r.created_at
            %name
              = r.user.name
            %text
              = link_to "/films/#{@film.id}/reviews/#{r.id}/comments" do
                = r.text
