.content
  .content__title
    新規レビューの作成
  = form_with model: @review, class: :form, local: true do |form|
    = form.text_field :feeling, placeholder: :感情, class: :form__feeling
    = form.text_field :title, placeholder: :映画タイトル, class: :form__title
    = form.text_area :content, placeholder: :レビュー本文, class: :form__text
    = form.submit '投稿する', class: :form__btn
